* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.85px;
}

body {
    font-family: 'Press Start 2P', system-ui;
    background: #171615;
    cursor: url(../img/cursor.cur), auto;
}

ul {
    list-style: none;
}

a {
    cursor: url(../img/pointer.cur), auto;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Press Start 2P' system-ui;
    font-size: 40rem;
    text-align: center;
    color: #fff;
    margin-bottom: 20rem;
}
.header {
    padding: 20rem 0;
    background: #262423;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.header .flex-between {
    flex-wrap: nowrap;
}

.flex-between {
    display: flex;
    gap: 20rem;
    justify-content: space-between;
}

.items_center {
    align-items: center;
}
.logo img {
    width: 100%;
}
.menu, .button_container {
    display: none;
}

.menu ul, .menu_footer {
    gap: 45rem;
}

.menu a {
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.button_container a {
    display: block;
    padding: 6rem 12rem;
    background: #3C8527;
    text-decoration: none;
    font-size: 12rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}
.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}
.burger span {
    display: block;
    width: 100%;
    height: 5px;
    background: #518315;
    border-radius: 3px;
}

.main_container {
    min-height: 70vh;
    background: url(../img/header_bg.jpg) no-repeat center/cover;
}

.discover_container {
    padding: 48rem 0 40rem;
}

.cta {
    display: block;
    margin-bottom: 48rem;
    text-align: center;
    font-size: 16rem;
    font-weight: bold;
    color: #6cc349;
}

.cards_container {
    gap: 20rem;
}

.card {
    width: 100%;
    padding-bottom: 40rem;
}

.card img {
    width: 100%;
}

.card h2 {
    margin: 0;
    font-family: 'Press Start 2P', system-ui;
    font-size: 24rem;
    letter-spacing: 0.94rem;
    color: #fff;
    text-align: left;
}

.card p {
    font-size: 14rem;
    line-height: 24rem;
    color: #aba09c;
}

.newest_container {
    padding: 80rem 0;
    background: #262423;
}

.newest_cards_container {
    justify-content: center;
    gap: 32rem;
}

.newest_cards_container h3 {
    display: inline-block;
    font-size: 14rem;
    letter-spacing: 0.56rem;
    padding: 0 4rem 1rem;
    text-align: center;
    box-shadow: 2rem 2rem 0 0 #0000004d;
    background: #fff;
    margin-bottom: 6rem;
}

.newest_cards_container p {
    color: #fff;
    line-height: 24rem;
}
.works_container {
    padding: 80rem 0;
    background: #4f1030;
}
.works_card_container {
    justify-content: center;
    gap: 32rem;
}

.work_card {
    color: #fff;
    padding-bottom: 32rem;
    font-size: 16rem;
    text-align: center;
}

.work_card img {
    width: 100%;
    max-height: 400rem;
}

.work_card h3 {
    font-size: 24rem;
    margin-bottom: 16rem;
}

.text_footer {
    font-size: 16rem;
    padding: 48rem 0 32rem;
    text-align: center;
    color: #fff;
}

.footer_container {
    padding: 32rem 0;
    background-color: #313131;
}

.footer_container .wrapper {
   flex-wrap: wrap;
   gap: 32rem;
   justify-content: center;
}

@media screen and (min-width: 768px) {
    .newest_cards_container,
    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .works_card_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .work_card,
    .card {
        padding-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 1px;
    }
    .menu, .button_container {
        display: block;
    }

    .menu ul,
    .menu_footer {
        display: flex;
    }

    .burger,
    .cancel {
        display: none;
    }

    .newest_cards_container,
    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and(min-width: 1920px) {
    html {
        font-size: 1.3px;
    }
}
@media screen and(min-width: 2200px) {
    html {
        font-size: 1.5px;
    }
}